<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script
              src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
              integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
              crossorigin="anonymous"></script>
        
    <!-- ColorPicker -->
    <script type="text/javascript" src="/static/scripts/lib_color_picker.js"></script>

    <!-- ColorPicker -->
    <script type="text/javascript" src="/static/scripts/lib_datalist.js"></script>

    <!-- Game scripts -->
    <script type="text/javascript" src="/static/scripts/game_initialize.js"></script>
    <script type="text/javascript" src="/static/scripts/game_util.js"></script>
    <!-- The order from now on shouldn't matter-->
    <script type="text/javascript" src="/static/scripts/game_canvas_generation.js"></script>
    <script type="text/javascript" src="/static/scripts/game_combination.js"></script>
    <script type="text/javascript" src="/static/scripts/game_contextmenu.js"></script>
    <script type="text/javascript" src="/static/scripts/game_drag_drop.js"></script>
    <script type="text/javascript" src="/static/scripts/game_element_creation.js"></script>
    <script type="text/javascript" src="/static/scripts/game_suggestion_list.js"></script>
    <script type="text/javascript" src="/static/scripts/game_ready.js"></script>
    <script type="text/javascript" src="/static/scripts/game_save.js"></script>
    <script type="text/javascript" src="/static/scripts/game_socket.js"></script>
    <script type="text/javascript" src="/static/scripts/game_tabs.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/game_main.css">
</head>
<body>
    <div class="tab-list"></div>
    <div class="contextmenu">
        <div class="name-field"></div>
        <div class="btn edit">Suggest edit</div>
        <div class="btn info">View info</div>
    </div>

    <main>
        <div class="tab elements">
            <div class="combine-menu" oncontextmenu="javascript:alert('success!');return false;">
                <h2>Combine</h2>
                <canvas class="drop-slot"></canvas>
                <canvas class="drop-slot"></canvas>
                <br/>
                <button class="combine-button" onclick="Game.funcs.combine_elements()">Combine!</button>
            </div>
            <div class="current-owned-elements">
                <h2>Your elements</h2>
            </div>
        </div>
        <div class="tab vote">
            <select class="sorting-selection">
                <option value="latest">Latest</option>
                <option value="oldest">Oldest</option>
                <option value="undecided">Undecided</option>
                <option value="verge">On-the-verge</option>
            </select>
            <button class="refresh-button">Refresh</button>
            <div class="latest-elements sort-suggestions">
                <h2>Latest suggestions</h2>
                <div class="vote-list-latest vote-list">
                </div>
            </div>
            <div class="oldest-elements sort-suggestions" >
                <h2>Oldest suggestions</h2>
                <div class="vote-list-oldest vote-list">
                </div>
            </div>
            <div class="verge-elements sort-suggestions" >
                <h2>On-the-verge suggestions</h2>
                <div class="vote-list-verge vote-list">
                </div>
            </div>
            <div class="undecided-elements sort-suggestions" >
                <h2>Undecided suggestions</h2>
                <div class="vote-list-undecided vote-list" >
                </div>
            </div>
        </div>
        
    </main>
    <div style="display: none" class="element-suggestion">
        <div class="element-creation-menu">
            <div class="element-creation-container">
                <h2>Create a new element!</h2>
                <canvas class="creation-canvas"></canvas>
                <datalist class="name-list" id="name-list">
                </datalist>
                <div class="grid">
                    <label>Name</label>
                    <input type="text" name="element-name" class="name" placeholder="Element name" list="name-list"/>
                    <label>Foreground style</label>
                    <select class="fg-pattern"></select>
                    <label>Background style</label>
                    <select class="bg-pattern"></select>
                    <label>Foreground color 1</label>
                    <input value="rgba(40,170,255,1)" data-jscolor="" class="fg-color-1">
                    <label>Foreground color 2</label>
                    <input value="rgba(40,170,255,1)" data-jscolor="" class="fg-color-2">
                    <label>Background color 1</label>
                    <input value="rgba(40,170,255,1)" data-jscolor="{alphaChannel: false}" class="bg-color-1">
                    <label>Background color 2</label>
                    <input value="rgba(40,170,255,1)" data-jscolor="{alphaChannel: false}" class="bg-color-2">
                </div>
                <br/>
                <button class="create-button">Create!</button>
                <br/>
                <br/>
                <button class="cancel-button">Cancel</button>
            </div>
        </div>
    </div>
    <div style="display: none" class="templates">
        <div class="vote-row-template">
            <div class="suggestion-type-container">
                <span class="suggestion-type"></span>
            </div>
            <div class="ingredients"></div>
            <div class="eq">=</div>
            
            <canvas></canvas>
            <div class="up-template">
                <button class="up-button">⬆</button>
            </div>
            <div class="down-template">
                <button class="down-button">⬇</button>
            </div>
            <div class="voting-status">
                <span class="current">?</span>
                /
                <span class="target">?</span>
            </div>
        </div>
    </div>
    <div class="element-combination-warning"style="display: none;">
        <div>
            <h2>Warning!</h2>
            <p>
                This element (<span class="create-element-name"></span>) already exists! Do you want to suggest a new combination for it?
            </p>
            <button class="back">Back</button><button class="yes">Yes</button>
        </div>
    </div>
</body>
</html>